<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Testing_OJP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AndroidToServlet</display-name>
    <servlet-name>AndroidToServlet</servlet-name>
    <servlet-class>com.testing.AndroidToServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidToServlet</servlet-name>
    <url-pattern>/AndroidToServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionDataServlet</display-name>
    <servlet-name>ConnectionDataServlet</servlet-name>
    <servlet-class>com.testing.ConnectionDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionDataServlet</servlet-name>
    <url-pattern>/ConnectionDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatingDatabasefromAndroid</display-name>
    <servlet-name>UpdatingDatabasefromAndroid</servlet-name>
    <servlet-class>com.testing.UpdatingDatabasefromAndroid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatingDatabasefromAndroid</servlet-name>
    <url-pattern>/UpdatingDatabasefromAndroid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>com.testing.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/LoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.testing.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GettingJobs</display-name>
    <servlet-name>GettingJobs</servlet-name>
    <servlet-class>com.testing.GettingJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GettingJobs</servlet-name>
    <url-pattern>/GettingJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Here a job get posted in database by android appliaction request</description>
    <display-name>PostAJob</display-name>
    <servlet-name>PostAJob</servlet-name>
    <servlet-class>com.testing.PostAJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAJob</servlet-name>
    <url-pattern>/PostAJob</url-pattern>
  </servlet-mapping>
</web-app>